# personal IDE files
.vscode/launch.json
.vscode/settings.json

# Python virtual environment
.venv

# Cached files
.mypy_cache
__pycache__

# Local database / portrait files
workshop.db*
portraits/

# logs
logs/
